card(
	title="Libro Seleccionado",
	[halfSizeWidth]="true",
	[halfSizeHeight]="false"
)
	div.preview(
		*ngIf="currentBook",
	)
		img.image(
			id="preview",
			width="40%",
			height="50%",
			[src]="'/covers/' + currentBook.cover | safeUrl"
		)
		div.book-info
			p
				label Título: {{currentBook.title}}
			p
				label Autor: {{currentBook.author}}
			p
				label Publicación: {{currentBook.publicationYear.split('T')[0]}}
			p
				label Edición: {{currentBook.edition}}
			p
				label Ejemplares: {{currentBook.samples}}
			p
				button(
					(click)="deleteBook()"
				) Eliminar Libro
			
card(
	title="Filtrar libros",
	[halfSizeWidth]="true",
	[halfSizeHeight]="true"
)
	form
		div.filter-container
			label Por título: 
			input(
				[(ngModel)]="filterBook.title"
				type="text",
				placeholder="Por título",
				name="title",
			)
		hr
		div.filter-container
			label Por autor: 
			input(
				[(ngModel)]="filterBook.author"
				type="text",
				placeholder="Por autor",
				name="author",
			)
		hr
		div.filter-container
			label Por fecha de publicación
			br
			label Inicio: 
			input(
				[(ngModel)]="filterBook.beginDate"
				type="date",
				name="beginDate",
			)
			label Fin: 
			input(
				[(ngModel)]="filterBook.endDate"
				type="date",
				name="endDate",
			)
		hr
		div
			input(
				type="submit",
				value="Filtrar"
				(click)="FilterBooks()"
			)

card(
	title="Libros Disponibles",
	[halfSizeWidth]="true",
	[halfSizeHeight]="true"
)
	table
		thead
			th Título
			th Autor
			th Año de publicación (YY/MM/DD)
			th Edición
			th Ejemplares
		tbody
			tr(
				*ngFor="let book of books | paginate: { itemsPerPage: 5, currentPage: page }",
				(click)="setBook(book)"
			)
				td {{book.title}}
				td {{book.author}}
				td {{book.publicationYear.split('T')[0]}}
				td {{book.edition}}
				td {{book.samples}}
	pagination-controls(
		(pageChange)="page = $event"
		maxSize="9",
		style="cursor: pointer"
	)