.text
	font-size: 25px
	padding: 2%
	margin: 1%

input
	background-color: #EEE
	font-size: 20px
	text-align: center
	margin: 1%
	border: none
	border-bottom: 1px black dashed 

.button
	margin: 5%
	padding: 3%
	width: 50%
	border-radius: 4px
	border: none
	background-color: #EEC

	&:hover
		cursor: pointer

.form-container
	left 30%
	padding 30px
	text-align center

.image
	margin: 2%
	width: 50%
	height: auto
	float: left

.preview
	float: left