card(
	[title]="'Guardar libro'",
	[halfSizeWidth]="true"
	[halfSizeHeight]="false"
)
	form.form-container(
                id="submitform",
                action="/api/save-book",
                method="POST",
                enctype="multipart/form-data",
                (ngSubmit)="submitForm()"
            )
		div
			//label.text Título
			input(
					type='text',
					name="title",
					placeholder='Título',
					[(ngModel)]="book.title",
					required
				)
		div
			//label.text Autor
			input(
					type='text',
					name="author",
					placeholder='Autor',
					[(ngModel)]="book.author",
					required
				)
		div
			//label.text Publicación
			input(
					type='date',
					name="publicationYear",
					placeholder='Año de publicación',
					[(ngModel)]="book.publicationYear",
					max="{{today}}",
					required
				)
		div
			//label.text Edición
			input(
					type='text',
					name="edition",
					placeholder='Edición',
					[(ngModel)]="book.edition",
					required
				)
		div
			//label.text Ejemplares
			input(
					type='text',
					name="samples",
					placeholder='Ejemplares',
					[(ngModel)]="book.samples",
					required
				)
		div
			// label.text Portada
			input(
				id="inputFile",
				type="file",
				accept="image/*",
				name="cover",
				(change)="changeListner($event)",
				required
			)
		div
			input.button(
				type="submit",
				value="Guardar libro"
			)

card(
	[title]="'Vista previa'",
	[halfSizeWidth]="true"
	[halfSizeHeight]="false"
)
	div.preview
		img.image(
			id="preview",
			width="40%",
			height="50%",
			*ngIf="imagePreview",
			src="{{cover}}",
		)
		div.book-info
			p(
				*ngIf="book.title!=''",
			)
				label Título: {{book.title}}
			p(
				*ngIf="book.author!=''",
			)
				label Autor: {{book.author}}
			p(
				*ngIf="book.publicationYear!=''",
			)
				label Publicación: {{book.publicationYear}}
			p(
				*ngIf="book.edition!=''",
			)
				label Edición: {{book.edition}}
			p(
				*ngIf="book.samples!=''",
			)
				label Ejemplares: {{book.samples}}