.card
	// position: absolute
	background-color: #EEE
	float: left
	height: 50%
	margin: 1%
	border-radius: 20px
	overflow: auto

	&.half-size-width
		width: 48%

	&.full-size-width
		width: 95%
	
	&.half-size-height
		height: 45%
		
	&.full-size-height
		height: 95%

.title
	font-size: 30px
	font-weight: bold
	text-align: center
	margin: 1.5%
