div.card([ngClass]=`{
	'half-size-width': halfSizeWidth,
	'full-size-width': !halfSizeWidth,
	'half-size-height': halfSizeHeight,
	'full-size-height': !halfSizeHeight
	}`
)
	div.title(
		*ngIf="!!title"
	) {{title}}
		hr
	ng-content
