card(
	title="Login",
)
	form
		div
			label Usuario: 
			input(
				type='text',
				name="user",
				placeholder='Usuario',
				[(ngModel)]="auth.user",
				required
			)
		br
		hr
		div
			label Contraseña:
			input(
				type='password',
				name="password",
				placeholder='Contraseña',
				[(ngModel)]="auth.password",
				required
			)
		div
			a(href="#register") Registrarse

		div
			button((click)="submit()") Iniciar Sesión