form
	input
		background: none
		border: none
		border-bottom: black 1px dashed
		margin: 1%
	input[type="submit"]
		border none
		border-radius: 2%
		width: 98%
		color: black
		background #cacaca

label
	width: 50%
	font-weight: bold

.filter-container
	align-items: center
	left 3%

.book-info
	float right

.modifications
	float: right
	color: black