card(
	title="Resultado de búsqueda",
	[halfSizeWidth]="true",
	[halfSizeHeight]="false"
)
	div.preview(
		*ngIf="searchResult==true",
	)
		img.image(
			id="preview",
			width="40%",
			height="50%",
			[src]="'/covers/' + ResultBook[0].cover | safeUrl"
		)
		form.modifications(
			id="submitform",
			action="/api/modify-book",
			method="POST",
			enctype="multipart/form-data",
			(ngSubmit)="submitForm()"
		)
			div
				label ID:
				input(
					readonly,
					type="label",
					name="id",
					value="{{ResultBook[0].id}}",
					[(ngModel)]="ResultBook[0].id"
				)
			div
				label Título:
				input(
					type="textarea",
					name="title",
					value="{{ResultBook[0].title}}",
					[(ngModel)]="ResultBook[0].title"
				)
			div
				label Autor:
				input(
					type="textarea",
					name="author"
					value="{{ResultBook[0].author}}"
					[(ngModel)]="ResultBook[0].author"
				)
			div
				label Publicación:
				input(
					type="date",
					name="publicationYear",
					value="{{ResultBook[0].publicationYear.split('T')[0]}}",
					[(ngModel)]="ResultBook[0].publicationYear.split('T')[0]"
				)
			div
				label Edición:
				input(
					type="textarea",
					name="edition",
					value="{{ResultBook[0].edition}}",
					[(ngModel)]="ResultBook[0].edition"
				)
			div
				label Ejemplares:
				input(
					type="textarea",
					name="samples",
					value="{{ResultBook[0].samples}}",
					[(ngModel)]="ResultBook[0].samples"
				)
			div
				label Portada:
				input(
					readonly,
					type="label",
					name="lastCover",
					value="{{ResultBook[0].cover}}",
					[(ngModel)]="ResultBook[0].cover",
					style="display: none;"
				)
				input(
					id="inputFile",
					type="file",
					accept="image/*",
					name="cover",
					(change)="changeListner($event)",
				)
			div
				input(
					type="submit",
					value="Modificar Libro"
				)

card(
	title="Buscar libro",
	[halfSizeWidth]="true",
	[halfSizeHeight]="true"
)
	form
		div.filter-container
			label Título: 
			input(
				[(ngModel)]="BookToSearch.title"
				type="text",
				placeholder="Título",
				name="title",
			)
		hr
		div.filter-container
			label Autor: 
			input(
				[(ngModel)]="BookToSearch.author"
				type="text",
				placeholder="Autor",
				name="author",
			)
		hr
		div
			input(
				type="submit",
				value="Buscar"
				(click)="searchBook()"
			)
