form
	div
		label Nombre: 
		input(
			type='text',
			name="name",
			placeholder='Nombre',
			[(ngModel)]="RegisterInfo.name",
			required
		)
	br
	hr
	div
		label Correo electrónico:
		input(
			type='email',
			name="email",
			placeholder='Correo electrónico',
			[(ngModel)]="RegisterInfo.email",
			required
		)
	br
	hr
	div
		label Nombre de usuario:
		input(
			type='text',
			name="user",
			placeholder='Nombre de usuario',
			[(ngModel)]="RegisterInfo.username",
			required
		)
	br
	hr
	div
		label Contraseña:
		input(
			type='password',
			name="password",
			placeholder='Contraseña',
			[(ngModel)]="RegisterInfo.password",
			required
		)
	div
		a(href="#login") Iniciar sesión

	div
		button((click)="submit()") Registrarse