card(
	title="Resultado de búsqueda",
	[halfSizeWidth]="true",
	[halfSizeHeight]="false"
)
	div.preview(
		*ngIf="searchResult==true",
	)
		img.image(
			id="preview",
			width="40%",
			height="50%",
			[src]="'/covers/' + ResultBook[0].cover | safeUrl"
		)
		div.book-info
			p
				label Título: {{ResultBook[0].title}}
			p
				label Autor: {{ResultBook[0].author}}
			p
				label Publicación: {{ResultBook[0].publicationYear.split('T')[0]}}
			p
				label Edición: {{ResultBook[0].edition}}
			p
				label Ejemplares: {{ResultBook[0].samples}}

card(
	title="Buscar libro",
	[halfSizeWidth]="true",
	[halfSizeHeight]="true"
)
	form
		div.filter-container
			label Título: 
			input(
				[(ngModel)]="BookToSearch.title"
				type="text",
				placeholder="Título",
				name="title",
			)
		hr
		div.filter-container
			label Autor: 
			input(
				[(ngModel)]="BookToSearch.author"
				type="text",
				placeholder="Autor",
				name="author",
			)
		hr
		// div.filter-container
			label Fecha de publicación
			br
			input(
				[(ngModel)]="BookToSearch.date"
				type="date",
				name="date",
			)
		// hr
		div
			input(
				type="submit",
				value="Buscar"
				(click)="SearchBook()"
			)
	
//card(
	title="Sugerencias de Título",
	[halfSizeWidth]="true",
	[halfSizeHeight]="true",
	*ngIf="titleSuggestions"
	)
	li(
		*ngFor="let suggestion of titleSuggestions"
	) {{suggestion}}

//card(
	title="Sugerencias de Autor",
	[halfSizeWidth]="true",
	[halfSizeHeight]="true",
	*ngIf="authorSuggestions"
		)
	li(
		*ngFor="let suggestion of authorSuggestions"
	) {{suggestion}}