.navbar-container
	position: fixed
	left: 0px
	right: 0px
	top: 0px
	width: 100%
	height: 7%
	background-color: #28160c
	text-overflow: ellipsis

	.module-panel
		margin: 0.3%
		width: 10%
		height: 85%
		text-align: center
		color: white
		vertical-align: middle
		line-height: 100%
		background-color: #7d1101
		float: left
		
	.module-panel:hover
		background-color: #6d1101
		cursor: pointer
